<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Check Domain</title>
    <!-- CSS files -->
    <link href="{{ url_for('static', path='/tabler/tabler.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/tabler/tabler-vendors.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/css/checkdomain.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', path='/libs/jquery.toast.css') }}" rel="stylesheet" />
    
    <style>
        @import url('{{ url_for('static', path='/inter/inter.css') }}');

        :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
        font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>

</head>